pre {
    background: #1e1e1e;
    color: white;
    /* padding: 20px; */
    border-radius: 10px;
    /* overflow-x: auto;
    white-space: pre-wrap; 
    word-wrap: break-word; */
  }
  code {
    font-family: "Courier New", monospace;
    font-size: 16px;
  }